body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    position: absolute;
    right: 30px;
    color: white;
    top: -80px;
    margin: 100px auto 0;
    background: transparent;
    border: none;
    transition: 0.4s ease-in ;
}
.btn-modal:hover{
    color: #8e98c5;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #fff;
    padding: 14px 28px;
    border-radius: 5px;
    max-width: 600px;
    text-align: center;
    min-width: 300px;
}
.modal-content p, h2 {
    background-color: #fff;
    color: black;
}
/* .modal-content h2{
    background: white;
} */

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color:#dcd6f7;
    border: 1px solid #8e98c5 ;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}
.close-modal:hover{
    background-color:  #8e98c5;
}
.Contact{
    margin-top: 10px;
    background: #fff;
    text-decoration: none;
}
.Contact img{
    background-color: #fff;
    height: 2rem;
    width: 2.1rem;
    margin-top: 20px;
}
.Contact a{
    background: #fff;
    margin-top: 20px;
}
.Contact p{
    margin-top: 4px;
}

@media screen and (max-width: 500px){
    .btn-modal{
        font-size: 0.7rem;
        right: 10px;
    }
    .modal-content{
        width: 20xp;
    }
}