.main-container{
  height: 100vh;
  width: 100%;
  background-color:#424874;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.main-header{
  margin-top: 5rem;
  text-align: center;
  padding: 20px;
}
.room{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.room input{
  margin-top: 5rem;
  background: #fff;
  width: 15rem;
  height: 2.5rem;
  padding: 1rem;
  outline: none;
  border-radius: 5px;
  border: none;
}
.room button{
  margin-top: 0.5rem;
  width: 15rem;
  height: 2.5rem;
  border-radius: 5px;
  /* border: 1px solid black; */
  border: none;
  background: #dcd6f7;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.room button:hover{
  background-color: #8e98c5;
}
.sign-out button{
  background: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: #8e98c5;
}
.sign-out{
  margin-top: 4rem;
}
.sign-out button:hover{
  color: #de1b1b;
  text-decoration:underline;
}
@media screen and (max-width:500px){
  .main-header{
    font-size: 1.3rem;
  }
  .sign-out{
    margin: 30px;
  }
}
